.page-header-section {
    min-height: 220px;
    margin-top: 60px;
    padding-bottom: 10px;
    background: linear-gradient(rgba(28,30,28,.3),rgba(213,219,213,.3)),url(../images/background_pages.png);
}
.page-header-section h1 {
    padding-top: 80px;
    text-align: center;
}
.card-columns .card {
    height: 233px;
    display: inline-block;
}
#navbarSupportedContent{
    justify-content: end;
}