*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-header, #footer-section{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
body {
    overflow-x: hidden;
    margin: 0;
    /*font-family: IRANSans,Tahoma,sans-serif;*/
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: right;
    background-color: #fff;
}
a{
    text-decoration: none;
}
.dropdown-menu{
    width: 250px !important;
}
.line{
    background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),to(#000));
    background-image: -webkit-linear-gradient(180deg,transparent,#000);
    background-image: -moz-linear-gradient(180deg,transparent,#000);
    background-image: -o-linear-gradient(180deg,transparent,#000);
    background-image: linear-gradient(90deg,transparent,#000);
    width: 50%;
    top: 13px;
    -moz-background-size: 100% 2px;
    background-size: 100% 2px;
    background-position: 0 0,0 100%;
    background-repeat: no-repeat;
    display: table-cell;
    position: relative;
    font-size: 24px;
    text-align: center;
}

#footer-section{
    background: #373f4c;
}
#footer-section li.nav-link > a{
    color:#fff;
}
#navbarSupportedContent{
    justify-content: end;
}

/**** blog  ****/
.post_details {
    color: #8e8e95;
    font-weight: 400;
    font-size: 12px;
}
.card{
    cursor: pointer;
}
.card-image{
    text-align: center;
    cursor: pointer;
}